<HTML>

<HEAD><TITLE>HeroConquest</TITLE></HEAD>

<meta http-equiv="Content-Type" content="text/html; charset=Shift_JIS">

<BODY bgcolor="ffffff">

<HR>

<H2 align="center">Programming SkillUp Contents &lt;HeroConquest&gt;</H2>

<HR>

<p>
「HeroConquest」とは広コン生のプログラミングスキルアップを目的としたコンテンツです。
</p>

<p>
自宅からでも利用することが出来ますので、どんどんチャレンジしてみてください！
</p>

<p>
<A Href="http://hcp.network.hsc.ac.jp" Target="_blank">「HeroConquest」コンテンツの本体へのリンク</A>
</p>

<HR>

<H2 align="center">使い方</H2>

<HR>

<p>
初めてチャレンジする際にはログインが必要です。
</p>

<p>
<Img Src="/static/01.png">
</p>

<p>
広コンで付与された「Googleアカウント」（<B>学籍番号@st.hsc.ac.jp</B>）でログインします。
</p>

<p>
<Img Src="/static/02.png">
</p>

<p>
パスワードを入力してログインを完了してください。
</p>

<p>
<Img Src="/static/03.png">
</p>

<HR>

<H2 align="center">ダッシュボード</H2>

<HR>

<p>
最初は「ダッシュボード」の画面が表示されます。
</p>

<p>
攻略済みの問題数や取得した称号数、スコア、ランクなどが表示されています。
</p>

<p>
<Img Src="/static/04.png" width="961" height="637">
</p>

<p>
また、下の方には「上位ランカー」が表示されます。
</p>

<p>
<Img Src="/static/05.png" width="961" height="637">
</p>

<HR>

<H2 align="center">スキルチェック</H2>

<HR>

<p>
「HeroConquest」のメインコンテンツです。
</p>

<p>
Ｄランク～Ｓランクのプログラム問題が２００問用意されています。
</p>

<p>
右側の「問題にチャレンジ！」を押すと問題が表示されます。
</p>

<p>
<Img Src="/static/06.png" width="961" height="637">
</p>

<p>
問題文を読み「解答欄」に他の開発ツールなどで作ったプログラムを貼り付けて「プログラムを提出」を押すと・・・
</p>

<p>
<Img Src="/static/17.png" width="961" height="637">
</p>

<p>
正しいプログラムであれば↓の画像が表示されます。
</p>

<p>
<Img Src="/static/18.png" width="961" height="637">
</p>

<HR>

<H2 align="center">ユーザプロファイル</H2>

<HR>

<p>
クラスが入力されていない場合は入力してください。
</p>

<p>
デフォルト言語もここで変更できます。
</p>

<p>
<Img Src="/static/07.png" width="961" height="637">
</p>

<p>
ネットワークコースは「Python」、システムエンジニア・情報処理コースは「Java」、ゲームコースは「C++」をデフォルトにしておきましょう。
</p>

<p>
※変更した時には「プロファイルの更新」を押してください。
</p>

<p>
<Img Src="/static/08.png" width="961" height="637">
</p>

<HR>

<p>
ユーザプロファイルでは攻略した問題の「自分のコード」「みんなのコード」を見ることが出来ます。
</p>

<p>
<Img Src="/static/09.png" width="961" height="637">
</p>

<p>
自分のコードを確認
</p>

<p>
<Img Src="/static/10.png" width="961" height="637">
</p>

<p>
「みんなのコード」を見る
</p>

<p>
<Img Src="/static/11.png" width="961" height="637">
</p>

<p>
他の登録者が同じ問題を（同じ言語で）攻略済みであれば、コードを見ることが出来ます。
</p>

<p>
<Img Src="/static/12.png" width="961" height="637">
</p>

<HR>

<H2 align="center">取得した称号</H2>

<HR>

<p>
ある問題をクリアすると「称号」を得ることが出来ます。
</p>

<p>
称号を得ることで<Font Color="red"><B>通常よりも多くのスコアを手に入れる</B></Font>ことが可能です。
</p>

<p>
<Img Src="/static/13.png" width="961" height="637">
</p>

<p>
称号の「条件」欄を選択すると対象となる問題のみが表示されます。
</p>

<p>
<Img Src="/static/14.png" width="961" height="637">
</p>

<HR>

<H2 align="center">スキルチェック履歴</H2>

<HR>

<p>
自分がチャレンジした問題と結果が表示されます。
</p>

<p>
<Img Src="/static/15.png" width="961" height="637">
</p>

<HR>

<H2 align="center">攻略の手引き</H2>

<HR>

<p>
攻略の手引きを選択すると外部のサイトに移動します。
</p>

<p>
<Img Src="/static/19.png" width="961" height="637">
</p>

<p>
Ｃ言語、Ｃ＋＋のサイトですが「HeroConquest」の問題を解くためのヒントが掴めるかも知れません。
</p>

<p>
※ベクトルなどについても書かれていますので、ゲームコースの学生は全て押さえておく必要があります。
</p>

<p>
<Img Src="/static/16.png" width="961" height="637">
</p>

<hr>

<H3 align="center">プログラミング　スキルアップ　コンテンツ　＜広コンクエスト＞</H3>

<hr>

</BODY>

</HTML>